@model IEnumerable<Shoppa.Models.Product>

@{
    ViewBag.Title = "Store";
}
<h2>Product Browser</h2>

@using (Html.BeginForm("Index", "Store", FormMethod.Get, new { @class = "form-inline" }))
{
    <div>
        @Html.Hidden("isGetBack", true)
        @Html.Label("Category")
        @Html.DropDownList("ProductCategory", null, (string)ViewBag.selectedProductCategory ?? "All", new { @class = "form-control" })
        @Html.Label("Name")
        @Html.Editor("SearchString", new { htmlAttributes = new { @class = "form-control" } })
        <input type="submit" value="Filter" class="btn btn-default" />
    </div>
}

<h2>Available Products</h2>
<ul>
    @foreach (var product in Model)
    {
        <li>
            @Html.ActionLink(product.Name,
"Details", new { id = product.ID })
        </li>
    }
</ul>