@model List<Shoppa.Models.Product>


@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Shoppa</h1>
    <p class="lead">CSE 135 shopping application made with ASP.NET, a web framework for building Web applications using HTML, CSS and JavaScript.</p>
    <p>@Html.ActionLink("Start shopping »", "Index", "Store", null, new { @class = "btn btn-primary btn-lg" })</p>
</div>

<div class="row">

    <div id="promotion">
    </div>
    <h3><em>Best selling</em> products</h3>
    <ul id="product-list">
        @foreach (var product in Model)
        {
            <li>
                <a href="@Url.Action("Details", "Store",
        new { id = product.ID })">
                    <span>@product.Name</span>
                </a>
            </li>
        }
    </ul>

</div>
    <div class="row">

        @if (Request.IsAuthenticated && User.IsInRole("isOwner"))
        {
            <div class="col-md-4">
                <h2>Products</h2>
                <p>
                    @Html.ActionLink("Manage your products »", "Index", "Products", null, new { @class = "btn btn-primary" })
                </p>
            </div>
            <div class="col-md-4">
                <h2>Categories</h2>
                <p>@Html.ActionLink("Manage your product categories »", "Index", "Categories", null, new { @class = "btn btn-primary" })</p>
            </div>
        }
    </div>


    
